body{
    padding: 50px;
    background-color: #faebd7;
    }

.container{
    background-color: #faebd7;
    border: 5px;
    padding: 20px;
}

.errorText{
    color: #ff0000;
}

.inputError{
    color: #ff0000;
    border: 1px #ff0000 solid;
}